#jumbocircle{
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;

    display: inline-block;
    align-items: center;
}

#jumbofont h1{
    margin: 0;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
}
