.App {
  text-align: center;
}


.swyellow {
  color: #EED54B;
  padding-top:10px;
}

.hero {

  background-image: url("./assets/application_root_header@2x.png");
  background-size: cover;
  background-color: #FFFFFF;
  height: 200px;
  color: #FFFFFF;
  vertical-align: text-bottom;
  margin-bottom: 10px;
}

.textbtm {
  padding-top: 85px;
  padding-left: 5px;
  padding-right: 5px;
}

.textbtm2 {
  padding-left: 5px;
  padding-right: 5px;
}

.selectbutton img h3{
  display: inline-block;
}

.inlined {
  display: inline-block;
}

.menufont {
  color: darkslategray;
  padding-left: 5px;
}

.buttonfont {
  color: rgb(15, 12, 12);
}

.padright {
  margin-right: 25px;
}
.bggray {
  background-color: #E3E3E3;
}

.smtext {
  font-size: 12px;
  font-style: italic;
}